/*Medium devices (tablets, less than 992px)*/
@media only screen and (max-width: 991px) {
    /*---Menu Style---*/
    .menu-block {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        display: block;
        position: fixed;
        right: -500px;
        height: 100%;
        background: #333;
        width: 500px;
        top: 0;
        overflow-x: auto;
        z-index: 99;
    }
    .menu-block .menu-inner {
        padding: 30px 30px 30px 30px;
    }
    .menu-block .menu-nav li {
        width: 100%;
        margin: 0;
        font-size: 20px;
        padding: 5px 0;
    }
    .menu-block .menu-nav li a {
        padding: 10px 0 10px 50px;
        display: block;
        color: #fff;
        background: #333e52;
    }
    .menu-block .menu-nav li .phone,
    header .sign-in {
        padding: 10px 0 10px 70px !important;
    }
    header .sign-in::before {
        left: 30px;
        top: 10px;
    }
    .menu-block .menu-nav a.active,
    .menu-block .menu-nav li a:hover {
        color: #fff !important;
        background: #000;
    }
    .menu-icon {
        float: right;
        cursor: pointer;
    }
    .menu-icon img {
        width: 100%;
    }
    .nav-m {
        float: left;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .menu-mask {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
        transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    }
    .menu-mask.active {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        z-index: 999;
    }
    .menu-close {
        display: none;
    }
    .menu-open .menu-close {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
    .menu-open .menu-block {
        right: 0;
    }
    .menu-open {
        overflow: hidden;
    }
    .menu-open .social-icons,
    .menu-open .phone {
        display: none;
    }
    header .menu-icon {
        display: block;
    }
  }
  
